<div class="logo">
  <h1>Time Tracker</h1>
</div>
<% if current_user %>
  <ul class="custom-nav nav nav-pills">
    <li class="nav-item">
      <%= link_to "Home", root_path, class: "nav-link #{active?(root_path)}" %>
    </li>
    <li class="nav-item">
      <%= link_to "Time Entries", posts_path, class: "nav-link #{active?(posts_path)}" %>
    </li>
    <li class="nav-item">
      <%= link_to "Add New Entry", new_post_path, id: 'new_post_from_nav', class: "nav-link #{active?(new_post_path)}" %>
    </li>
    <li class="nav-item dropdown ml-md-auto">
       <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown">Options</a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
        <% if current_user.try(:type) == 'AdminUser' %>
          <%= link_to "Admin dashboard", admin_root_path, class: "dropdown-item" %>
          <div class="dropdown-divider">
          </div>
        <% end %>
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
      </div>
    </li>
  </ul>
<% end %>
