<!DOCTYPE html>
<html>
  <head>
    <title>Overtime</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/6ff4afb2b5.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <% if notice %>
     <div id="notice_wrapper" class="flash flash-success alert alert-dismissible fade show" role="alert">
        <span> 🎉 <%= notice %></span>
        <a data-dismiss="alert" aria-label="Close">
          <i class="fas fa-times"></i>
        </a>
      </div>
    <% elsif alert %>
      <div id="notice_wrapper" class="flash flash-danger alert alert-dismissible fade show" role="alert">
        <span>😱 <%= alert %></span>
        <a data-dismiss="alert" aria-label="Close">
          <i class="fas fa-times"></i>
        </a>
      </div>
    <% end %>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <%= render 'shared/nav' %>
          <%= yield %>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      setTimeout(function(){ document.getElementById("notice_wrapper").style.display = "none"; }, 4000);
    </script>
  </body>
</html>

